@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');

.custom-dropdown {
    font-family: "Roboto", sans-serif;
    width: 65px; /* Set a smaller width for the initial state */
    padding: 15px 8px 14px 8px;
    background-color: yellow;
    font-size: 15px; /* Adjust the font size as needed */
    transition: width 0.3s ease; /* Add a transition for a smoother animation */
    border: none;
    border-radius: 4px 0 0 4px;
  }
  
  .custom-dropdown.expanded {
    width: auto; /* Expand the width when an option is selected */
  }
  
  .custom-dropdown option {
    /* Style for the dropdown options */
    background-color: #f2f2f2;
    color: #333;
    padding: 80px;
    font-size: 19px;
    width: auto;
  }
  
  .custom-dropdown.expanded option {
    /* Additional styles when dropdown is expanded */
    background-color: #ddd;
  }
  