.nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    position: sticky;
    z-index: 100;
  }
  
  .nav-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  
  .add-first{
    margin-bottom: 0px;
    color: #ccc;
    font-size: 1rem;
  }

  .add-icon{
    color: #ccc;
    display: flex;
  }

  .add-second{
    font-size: 1rem;
  }
  
  .nav-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .nav-searchInput {
    height: 30px;
    padding: 10px;
    border: none;
    width: 500px;
  }
  
  .nav-searchIcon {
    padding: 5px;
    height: 30px !important;
    background-color: #cd9042;
    width: 45px;
  }
  
  .nav-optionLineOne {
    font-size: 10px;
  }
  
  .nav-optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .nav-optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .nav-basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .nav-nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
  
  .nav-option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }